# =========================
# DB POS
# =========================
POS_MYSQL_HOST=YOUR_DB_HOST
POS_MYSQL_PORT=3306
POS_MYSQL_USER=YOUR_DB_USER
POS_MYSQL_PASSWORD=YOUR_DB_PASSWORD
POS_MYSQL_DATABASE=pos_db

# =========================
# CONTROL PLANE / PORTAL
# =========================
CONTROL_PLANE_BASE_URL=http://YOUR_PORTAL_HOST:8088

# =========================
# AUTH
# =========================
SECRET_KEY=CHANGE_ME_MIN_32_CHARS
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120
INTERNAL_SHARED_SECRET=CHANGE_ME_TO_SOMETHING_RANDOM_AND_SECURE

# =========================
# APP ROUTING
# =========================
APP_BASE_PATH=/ext/pos
APP_MENU_URL=/
LOGIN_FALLBACK_URL=/

CONTAINER_NAME=rodel-pos
APP_PORT=8001

DOCKER_SUBNET=172.32.0.0/16
APP_IP=172.32.0.10

DOCKER_EXTERNAL_NETWORK=rodelsoft-admin-core_rodelsoft_net
